{% if pageCount > 1 %}
    <nav aria-label="..." class="d-flex align-items-center justify-content-center mt-5" >
        <ul class="pagination">
            {% if previous is defined %}
                <li class="page-item">
                <a class="page-link" href="{{ path(route, query | merge ({(pageParameterName):previous}) ) }}" >Previous</a>
                </li>
            {% endif %}
            
            {% for page in pagesInRange %}
                {% if page != current %}
                    <li class="page-item"><a class="page-link" href="{{ path(route, query | merge ({(pageParameterName):page}) ) }}">{{ page }}</a></li>
                {% else %}
                    <li class="page-item disabled"><av style="background: #0d6efd; color: white" class="page-link" href="{{ path(route, query | merge ({(pageParameterName):page}) ) }}">{{ page }}</av></li>
                {% endif %}
                
            {% endfor %}
            
            {% if next is defined %}
                <li class="page-item">
                <a class="page-link" href="{{ path(route, query | merge ({(pageParameterName):next}) ) }}">Next</a>
                </li>
            {% endif %}
            
        </ul>
    </nav>
{% endif %}